<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
</head>
<body>


<footer class="footer" data-th-fragment="footer">
    <!-- Bootstrap core JavaScript
 ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="/js/jquery.min.js" th:href="@{/js/jquery.min.js}"  ></script>
    <script src="/js/bootstrap.min.js" th:href="@{/js/bootstrap.min.js}" ></script>
    <link href="../../static/css/footer.css" th:href="@{/css/footer.css}" rel="stylesheet">
</footer>

</body>
</html>